<div ng-controller="NavbarCtrl" class="navbar navbar-default">
 <div class="navbar-header">
  <a class="navbar-brand" href="/#/"><!-- <img class="fishLogo" src="assets/fish5.png" alt="" /> -->Just For The Halibut</a>
</div>
<ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
  <li><a href="/#/login"><i class="fa fa-sign-in"></i> Login</a></li>
  <li><a href="/#/signup">Sign up</a></li>
</ul>
<ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
  <li><a href="/#/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
</ul>

  <ul class="nav navbar-nav">

    <div class="btn-group" dropdown keyboard-nav>
           <div id="simple-btn-keyboard-nav" class="" dropdown-toggle>
             <a class="mainAnchor" href="/#/profile/"><img class="profile-picture-small" ng-src="{{user.picture || 'http://placehold.it/100x100'}}"><span class="topBarName"> {{user.displayName}}</span></a>
     <span class="caret"></span>
           </div>
           <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
             <li role="menuitem"><a href="/#/profile"><h4><i class="fa fa-user"></i> My Profile</h4></a></li>
               <li role="menuitem"><a href="/#/profile/main"><h4><span><img class="tinyFish" src="http://somethingfishy.co.in/image/catalog/kitchen-fish-icon.png" alt="" /></span> My Catches</h4></a></li>
               <li role="menuitem"><a href="/#/achievement"><h4><i class="fa fa-trophy"></i> Achievements</h4></a></li>
               <li role="menuitem"><a href="/#/viewRecipes"><h4><i class="fa fa-cutlery"></i> My Recipes</h4></a></li>
               <li role="menuitem"><a href="/#/weather"><h4><i class="fa fa-cloud"></i> Weather</h4></a></li>
           </ul>
       </div>
  </ul>

<div class="burger"><i class="fa fa-bars"></i></div>
    <div class="rainbow2">
    <div class="redTop2"></div>
    <div class="orangeTop2"></div>
    <div class="yellowTop2"></div>
    <div class="greenTop2"></div>
    <div class="lightBlueTop2"></div>
    <div class="darkBlueTop2"></div>
    </div>
</div>
