      <div ng-controller="MapController">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
            <ui-gmap-marker ng-repeat="marker in markers | filter:search:strict" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.idKey" fish="marker.fish" weight= "marker.weight" length = "marker.length">
              <ui-gmap-window isIconVisibleOnClick="true" coords="marker.coords">
              <p><strong>{{marker.fish}}</strong> <br> Weight: {{marker.weight}} <br> Length: {{marker.length}}</p>
              </ui-gmap-window>
            </ui-gmap-marker>
          </ui-gmap-google-map>
      </div>

<footer>
  <div class="rainbow2">
  <div class="redTop2"></div>
  <div class="orangeTop2"></div>
  <div class="yellowTop2"></div>
  <div class="greenTop2"></div>
  <div class="lightBlueTop2"></div>
  <div class="darkBlueTop2"></div>
  </div>
  <div class="svgWrap">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-100 -100 700 290" id="menu">
  <g id="symbolsContainer">
    <symbol class="icon icon-" id="icon-1" viewBox="10 0 35 35"><image xlink:href="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-3d-buttons-icons-sports-hobbies/044225-glossy-black-3d-button-icon-sports-hobbies-fishing-sc46.png" x="0" y="0" height="30px" width="30px"/></symbol>
    <symbol class="icon icon-" id="icon-3" viewBox="35 0 05 45"><image xlink:href="http://www.bestofvegas.com/cdn/images/DinnerIcon.png" x="0" y="0" height="48px" width="48px"/></symbol>
    <symbol class="icon icon-" id="icon-4" viewBox="10 0 35 35"><image xlink:href="http://synermous.com/data/images/leaderboard-icon.svg" x="0" y="0" height="30px" width="30px"/></symbol>
  </g>
    <g id="itemsContainer" data-svg-origin="250 250" transform="matrix(0.38734,-0.92193,0.92193,0.38734,-77.3193578290572,383.64893561257276)">
        <a class="item" id="item-1" xlink:href="#/profile/main" transform="matrix(1,0,0,1,0,0)" data-svg-origin="250 250" style="background-color:#5B9F49;"><path fill="#559E55" stroke="#559E55;" d="M350,250 l150,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 l-106.06601717798213,106.0660171779821 A100,100 0 0,1 350,250" class="sector"></path><use xlink:href="#icon-1" width="80" height="50" x="394.4505615234375" y="161.88233947753906" transform="rotate(67.5 414.4505615234375 181.88233947753906)"></use></a>
        <a class="item" id="item-3" xlink:href="#/viewRecipes"  transform="matrix(0.7071,-0.7071,0.7071,0.7071,-103.55339059327378,249.99999999999997)" data-svg-origin="250 250" style=""><path fill="none" stroke="#111" d="M350,250 l150,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 l-106.06601717798213,106.0660171779821 A100,100 0 0,1 350,250" class="sector"></path><use xlink:href="#icon-3" width="80" height="50" x="394.4505615234375" y="161.88233947753906" transform="rotate(67.5 414.4505615234375 181.88233947753906)"></use></a>
        <a class="item" id="item-4" xlink:href="#/achievement"  transform="matrix(0.7071,0.7071,-0.7071,0.7071,250.00000000000009,-103.55339059327378)" data-svg-origin="250 250" style=""><path fill="none" stroke="#111" d="M350,250 l150,0 A250,250 0 0,0 426.7766952966369,73.22330470336314 l-106.06601717798213,106.0660171779821 A100,100 0 0,1 350,250" class="sector"></path><use xlink:href="#icon-4" width="80" height="50" x="394.4505615234375" y="161.88233947753906" transform="rotate(67.5 414.4505615234375 181.88233947753906)"></use></a>
   </g>
  </svg>
</div>
</footer>
