body {
  font-family: 'Open Sans', sans-serif;
  background: #e4e7ec; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; }

a {
  color: #000; }

.text-muted {
  color: #90939a; }

.navbar {
  color: #fff;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.navbar-header {
  float: left;
  padding-left: 15px;
  margin-bottom: 0;
  padding-bottom: 0rem;
  color: #fff; }

.navbar-nav {
  color: #fff;
  float: right;
  margin: 0; }

.navbar-nav > li {
  color: #fff;
  float: left; }

.navbar-nav > li > a {
  color: #fff;
  padding: 15px; }

.navbar-default {
  color: #fff;
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 );
  /* IE6-9 */ }

.navbar-default .navbar-brand {
  color: #fff;
  background-color: #639BB4; }

.navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: #fff; }

.navbar-brand {
  margin-left: -15px;
  -webkit-transition: 0.25s all;
          transition: 0.25s all; }

.addCatch {
  margin-bottom: 2%; }

.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2); }

.panel-default > .panel-heading {
  font-size: 85%;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  background-color: #f6f6f6;
  border-color: #cfd9db; }

.form-control {
  border-radius: 0; }

.center-form {
  width: 33%;
  margin: 2.5% auto; }

.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none; }

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0; }

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff; }

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555; }

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px; }

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px; }

[class^='ion-'] {
  font-size: 1.2em; }

.has-feedback .form-control {
  padding-left: 42.5px; }

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.form-group, .buttonForm {
  margin-left: 5%;
  margin-bottom: 2%; }

.control-label {
  display: inline-block; }

.profile-picture {
  height: 200px;
  display: block; }

.profilePicBlock {
  display: inline-block;
  width: 40%; }

.btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.btn-primary {
  background-color: #4285f4; }

.btn-primary:hover {
  background-color: #3367d6; }

.btn-success {
  background-color: #0f9d58; }

.btn-success:hover {
  background-color: #196c4a; }

.btn-danger {
  background-color: #db4437; }

.btn-danger:hover {
  background-color: #b04c3b; }

.btn-group-vertical .btn {
  margin-bottom: 10px; }

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 2px; }

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 2px; }

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 2px; }

.btn-lg {
  font-size: 14px; }

.btn [class^='ion-'] {
  margin-right: 5px; }

.btn .fa {
  margin-right: 5px; }

/*********************
* Social Buttons
*********************/
.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331; }

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927; }

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190; }

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786; }

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae; }

.btn-linkedin:hover,
.btn-linkedin:focus {
  color: #fff;
  background-color: #0069a4; }

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb; }

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7; }

.btn-foursquare {
  color: #fff;
  background-color: #f94877;
  border: 1px solid #f8215a; }

.btn-foursquare:hover,
.btn-foursquare:focus {
  color: #fff;
  background-color: #f71752; }

.btn-github {
  color: #fff;
  background-color: #444;
  border: 1px solid #3b3b3b; }

.btn-github:hover,
.btn-github:focus {
  color: #fff;
  background-color: #303030; }

.btn-yahoo {
  color: #fff;
  background-color: #720e9e;
  border: 1px solid #580b75; }

.btn-yahoo:hover,
.btn-yahoo:focus {
  color: #fff;
  background-color: #303030; }

.btn-live {
  color: #fff;
  background-color: #2672ec; }

.btn-live:hover,
.btn-live:focus {
  color: #fff;
  background-color: #125acd; }

/*********************
* Login
*********************/
.backVideo {
  margin-top: -5rem;
  padding: 0;
  z-index: -10;
  position: absolute; }

/*********************
* Home
*********************/
.mainCont {
  width: 100%;
  margin-top: -2rem;
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem; }

.leftAside {
  padding-top: 3rem;
  padding-right: .5rem; }
  .leftAside h2 {
    color: white;
    text-align: center; }

.weatherBar {
  padding-top: 3rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 0rem; }

.leaderBoard {
  padding-top: 3rem;
  padding-left: .5rem; }

.sideNav {
  width: 100%; }
  .sideNav li {
    list-style: none;
    margin: 1rem; }

.progressBars {
  width: 100%; }

.noShadow {
  box-shadow: none; }

.forecastBox {
  background-color: black; }

.clearTop {
  float: left;
  clear: both; }

.clearChart {
  float: right; }

.forecast {
  padding-top: 0;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 0; }
  .forecast h4 {
    text-align: center; }
  .forecast .high {
    color: maroon;
    font-size: 2.5rem; }
  .forecast .low {
    color: maroon;
    font-size: 1.5rem; }

.weatherDir {
  color: white; }
  .weatherDir h1 {
    color: #F47F20;
    text-align: center;
    margin: .1rem;
    margin-top: .4rem;
    font-size: 4rem; }
  .weatherDir h4 {
    text-align: center;
    color: #87CDE2; }
  .weatherDir .testingBox {
    color: black; }
  .weatherDir .feelsLike {
    margin-top: .5rem;
    color: #747577;
    font-weight: bold; }
  .weatherDir .degrees {
    font-size: 1.5rem;
    vertical-align: top; }
  .weatherDir .degreesF {
    font-size: 2rem;
    vertical-align: top;
    margin-left: .1rem;
    font-weight: normal; }
  .weatherDir .degreesTiny {
    font-size: .5rem;
    vertical-align: top; }

.leftFix {
  padding-top: 0;
  padding-left: 1rem;
  padding-right: .5rem;
  padding-bottom: 0; }

.rightFix {
  padding-top: 0;
  padding-left: .5rem;
  padding-right: 1rem;
  padding-bottom: 0; }

.hourBoxLabel {
  background-color: black;
  margin-top: 0;
  padding: 1rem;
  color: white;
  text-align: center; }

.hourBox {
  color: white;
  border: 1px solid black; }
  .hourBox .dets {
    text-align: center; }
  .hourBox .temp {
    font-size: 3rem; }
  .hourBox .low {
    font-size: 1rem; }

.tint {
  color: #4EB8DB;
  margin: .2rem; }

.wind {
  height: 2rem;
  width: 2rem; }

.humidity {
  width: 1.5rem;
  height: 1.5rem; }

.sunRise {
  height: 5rem;
  width: 5rem;
  margin-left: 2.5rem;
  margin-bottom: 0; }

.weatherPH {
  margin: 1rem;
  font-size: 1.7rem; }

.weatherFlow {
  height: 54rem;
  overflow: scroll; }

.sunRiseTitle {
  margin-top: 0; }

.icon {
  text-align: left; }

.darrow {
  height: 4rem;
  width: 10rem;
  position: absolute;
  left: 35%;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1); }

.blackPanel {
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 );
  /* IE6-9 */
  border: none; }
  .blackPanel h4 {
    text-align: center;
    margin: .5rem;
    color: #F47B36;
    opacity: 1; }
  .blackPanel p {
    margin: .5rem;
    color: grey;
    opacity: 1; }
  .blackPanel .panel-heading {
    background-color: black; }
  .blackPanel .location {
    color: white; }

.fishHome {
  margin-top: 1rem;
  color: white;
  opacity: 1; }
  .fishHome .fishPic {
    height: 120px;
    width: 120px; }

/*********************
* Footer
*********************/
footer {
  width: 100%;
  background-color: black;
  height: 5rem;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  opacity: .7; }

.footerNav {
  position: absolute;
  text-align: center;
  left: 30%; }
  .footerNav li {
    margin-left: 3rem; }

/*********************
* Moon Phases
*********************/
.moon1 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon1.png");
  background-size: cover; }

.moon2 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon2.png");
  background-size: cover; }

.moon3 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon3.png");
  background-size: cover; }

.moon4 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon4.png");
  background-size: cover; }

.moon5 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon5.png");
  background-size: cover; }

.moon6 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon6.png");
  background-size: cover; }

.moon7 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon7.png");
  background-size: cover; }

.moon8 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon8.png");
  background-size: cover; }

.moon9 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon9.png");
  background-size: cover; }

.moon10 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon10.png");
  background-size: cover; }

.moon11 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon11.png");
  background-size: cover; }

.moon12 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon12.png");
  background-size: cover; }

.moon13 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon13.png");
  background-size: cover; }

.moon14 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon14.png");
  background-size: cover; }

.moon15 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon15.png");
  background-size: cover; }

.moon16 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon16.png");
  background-size: cover; }

.moon17 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon17.png");
  background-size: cover; }

.moon18 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon18.png");
  background-size: cover; }

.moon19 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon19.png");
  background-size: cover; }

.moon20 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon20.png");
  background-size: cover; }

.moon21 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon21.png");
  background-size: cover; }

.moon22 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon22.png");
  background-size: cover; }

.moon23 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon23.png");
  background-size: cover; }

.moon24 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon24.png");
  background-size: cover; }

.moon25 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon25.png");
  background-size: cover; }

.moon26 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon26.png");
  background-size: cover; }

.moon27 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon27.png");
  background-size: cover; }

.moon28 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon28.png");
  background-size: cover; }

.moon29 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon29.png");
  background-size: cover; }

.moon30 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon30.png");
  background-size: cover; }

/*********************
* Maps
*********************/
.leafMap {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover; }

.leaflet-control-layers.leaflet-control {
  display: none; }

.gradient {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  background: rgba(4, 63, 89, 0.4);
  background: -webkit-linear-gradient(rgba(4, 63, 89, 0.4) 0%, rgba(40, 89, 84, 0.4) 53%, rgba(87, 121, 76, 0.4) 71%, rgba(182, 188, 60, 0.4) 100%);
  background: linear-gradient(rgba(4, 63, 89, 0.4) 0%, rgba(40, 89, 84, 0.4) 53%, rgba(87, 121, 76, 0.4) 71%, rgba(182, 188, 60, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#043f59', endColorstr='#b6bc3c', GradientType=0 ); }

/*********************
* Animations
*********************/
.fadeZoom.ng-enter {
  -webkit-animation-duration: 0.2, 0.2s;
          animation-duration: 0.2, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
          animation-name: fadeIn, zoomIn; }

.fadeZoomFadeDown.ng-enter {
  -webkit-animation-duration: 0.2s, 0.2s;
          animation-duration: 0.2s, 0.2s;
  -webkit-animation-name: fadeIn, zoomIn;
          animation-name: fadeIn, zoomIn; }

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.2s;
          animation: fadeOutDown 0.2s; }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8); }
  50% {
    opacity: 1; } }
/* #373737 #8DB986 #ACCE91 #BADB73 #EFEAE4*/
/* catchAdded */
.catchSpecs {
  list-style: none;
  padding-left: 0; }

.catchTitle {
  display: inline-block; }
