  <div class="mainCont recipesStyle">
    <div class="page-wrap">
      <div class="row">
        <div class="col-sm-12 myReset ">
          <div class="insideWeather">
            <div class="flexWeatherTides recipeBox">
              <div class="flexBoxerRecipeDetail">
                <div class="col-sm-4">
                  <a href="/#/viewRecipes/{{recipe.recipe_id}}"><img class="recipeDetailImg" src="{{recipe.image_url}}"></a><br><br>
                  <div class="backButton" name="goBack" ng-click="goBack()"><h4>Go Back</h4></div>
               </div>
                <div class="col-sm-8">
                  <ul class="catchSpecs">
                    <li><h2>{{recipe.title}}</h2></li>
                    <li><h4 class="catchTitle">Ingredients: </h4><div ng-repeat="item in recipe.ingredients"><p><i class="fa fa-square-o recSquare"></i><span class="recItem">  {{item}}</span></p></div></li>
                    <li><h5 class="catchTitle">View Recipe: </h5><a href="{{recipe.f2f_url}}">click here</a></li>
                 </ul>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
