<div class="rainbow">
<div class="redTop2"></div>
<div class="orangeTop2"></div>
<div class="yellowTop2"></div>
<div class="greenTop2"></div>
<div class="lightBlueTop2"></div>
</div>
  <div class="mainCont">
    <div class="page-wrap">
    <div class="row">
      <div class="col-sm-12 myReset flexWeatherDir flexMainWeather">
        <div class="insideWeather">
          <div class="col-sm-8 myReset">
            <div class="flexWeatherYellow">

            <div class="weatherPH">
                <h2 class="achieveTitle">Achievement Level</h2>
                <p class="achieveYou">{{user.achievement}}</p>
                <img class="achieveImg" ng-src="{{user.achievementPicture}}" />

            </div>

           </div>
         </div>
           <div class="col-sm-4 myReset">
              <div class="flexSideWeatherYellow">
                 <div class="col-sm-12">
                   <h5 class="levelUp"> Level Up: </h5>
                    <progressbar class="progress-striped active" animate="true" max="50" value="progressValue" type="success"><i><span count-to="{{countTo}}" duration="1" count-from="{{countFrom}}"></span> {{countTo}} / 50</i></progressbar>
                 </div>

                </div>
                  <div class="flexSideWeatherSmallTopYellow orangeWeather">
                    <h5> Total Fish Caught: </h5><br>
                    <p class="amount"> {{user.fishCaught}}  </p>
                    <h5> Different Species: </h5>
                    <p class ="amount"> {{user.species.length}} </p>
                  </div>
                  <div class="flexSideWeatherSmallYellow orangeWeather">
                    <button type="button" class="btn btn-primary toAdd" ng-click="addCatch()">Add Catch</button>
                    <p class="quote"> A Reel Expert Can Tackle Anything!</p>
                  </div>
              </div>

              <div class="flexRower">
                <div class="flexBoxer greenBox" ng-repeat= "person in topThree">
                  <div>
                <h4> Top Fisher: </h4>
                <img class="fishListImg" width= "100" height= "100" ng-src="{{person.picture || 'http://images.clipartpanda.com/bass-fish-clip-art-black-and-white-AR-OTHER-SPORTS-14-R.png'}}">
                <img class="fishListImg" width= "100" height= "100" ng-src="{{person.achievementPicture || 'http://placehold.it/100x100'}}">
                <ul class="catchSpecs">
                  <br>
                  <li><h5 class="catchTitle">User: </h5> {{person.displayName}}</li>
                  <li><h5 class="catchTitle">Achievement Level: </h5> {{person.achievement}}</li>
                  <li><h5 class="catchTitle">Points Earned: </h5> {{person.points}}</li>
                  <li><h5 class="catchTitle">Total Fish Caught: </h5> {{person.fishCaught}}</li>
                  <li><h5 class="catchTitle">Different Species: </h5> {{person.species.length}}</li>
                  <li ng-click="viewTheirCatch(person.displayName, person.catch._id)"><h5 class="catchTitle" >Biggest Catch: </h5> {{person.catch.kind}}</li>
                </ul>
              </div>
              <!-- <div class="profileOptions">
                  <span type="button" name="button" ><i class="fa fa-plus trash"></i></span>
              </div> -->
                 </div>
                 </div>


           </div>
         </div>
      </div>
   </div>
</div>
