<div class="addCatchBox">
  <div class="addCatchBoxWrap">
    <div class="row">
      <div class="col-sm-12 myReset">
        <div class="addCatchPanel">

        <!-- start of loading code -->

          <div class="box" ng-class="class">
            <div class="page-bg"></div>
              <div class="preloader">
      	        <div class="preloader-box">
      		        <div>L</div>
      	        	<div>O</div>
      		        <div>A</div>
      		        <div>D</div>
      		        <div>I</div>
      	        	<div>N</div>
      	        	<div>G</div>
      	       </div>
            </div>
         </div>
      <!-- end of loading code -->
      <div class="addCatchWrap">
            <div class="addCatchForm">
              <h2 class="text-center whitey">Add a new catch</h2>
              <form id="upload-form" enctype="multipart/form-data" ng-submit="submitCatch(catch)" >
                <div class="col-sm-6 myReset">
                <div class="form-group has-feedback">
                  <input class="form-control input-lg" type="text" name="kind" value="Catfish" ng-model="catch.kind" placeholder="Kind of Fish">
                  <span class="ion-arrow-right-b form-control-feedback"></span>
               </div>
                <div class="form-group has-feedback">
                  <input class="form-control input-lg" type="text" name="weight" value="3 lbs" ng-model="catch.weight" placeholder="Weight (lbs)">
                  <span class="ion-arrow-right-b form-control-feedback"></span>
               </div>
                <div class="form-group has-feedback">
                  <input class="form-control input-lg" type="text" name="lenth" value="1 ft" ng-model="catch.length" placeholder="Length (in)">
                  <span class="ion-arrow-right-b form-control-feedback"></span>
                </div>
              </div>
              <div class="col-sm-6 myReset">
                 <div class="form-group has-feedback">
                    <input class="form-control input-lg" type="text" name="location" value="Charleston, SC" ng-model="catch.location" placeholder="Location">
                    <span class="ion-arrow-right-b form-control-feedback"></span>
                </div>
                 <div class="form-group has-feedback">
                    <input class="form-control input-lg" type="text" name="tackle" value="Tackle" ng-model="catch.tackle" placeholder="Tackle">
                    <span class="ion-arrow-right-b form-control-feedback"></span>
                 </div>
                  <div class="form-group has-feedback">
                     <input class="form-control input-lg" type="text" name="bait" value="Bait" ng-model="catch.bait" placeholder="Lure">
                     <span class="ion-arrow-right-b form-control-feedback"></span>
                  </div>
                </div>
                    <div class="col-sm-12">
                      <div class="addCatchWrap">
                        <div class="button"><h4>Upload an Image</h4>
                    <input type="file" id="my_file" name="my_file" multiple="multiple" ng-model="catch.image"/>
                  </div>
<!--            <li><input type="submit" class="btn fishSubmit" value="Submit" ng-disabled="$isUploading" ></li>
 -->

                        <button type="submit" value="Submit" ng-disabled="$isUploading"  class="btn btn-lg  btn-block btn-success button">Add Fish</button>
                      </div>

                   </div>
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>
     </div>
  </div>






         <!-- <div class="col-sm-9 weatherBar">
                 <div ng-controller="TabsController">
                 <tabset>
          <tab heading="Add My Catch"> -->


               <!-- ng-click here -->
<!--             // <script type="text/javascript">
//     $(function() {
//       $('#upload-form').transloadit({
//         wait: true,
//         triggerUploadOnFileSelection: true,
//         params: {
//           auth: {
//             // This is your API key.
//             key: "fc73a980313e11e58e2a1d428cc06c07"
//           },
//           steps: {
//             //Resizes the uploaded image to 100x100 px
//             resize_to_100: {
//               robot: "/image/resize",
//               use: ":original",
//               width: 100,
//               height: 100,
//               debug: true
//             },
//           }
//         }
//       });
//    });
// </script> -->


          <!--     <div class="panel panel-default">
                      <div class="panel-body">
          <div class="panel panel-default"> ng-repeat here
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-3">
                  <img ng-src="http://placehold.it/100x100"><br><br>
                </div>
                <div class="col-sm-9">
                <strong> My Catch of Day!</strong> <br><br>
                <form id="upload-form" enctype="multipart/form-data" ng-submit="submitCatch(catch)" >
                      <span>Kind:  </span><input type="text" name="kind" value="Catfish" ng-model="catch.kind"> <br>
                      <span>Weight:  </span><input type="text" name="weight" value="3 lbs" ng-model="catch.weight"><br>
                      <span>Length:  </span><input type="text" name="lenth" value="1 ft" ng-model="catch.length"><br>
                      <span>Location:  </span><input type="text" name="location" value="Charleston, SC" ng-model="catch.location"><br>
                      <span>Tackle:  </span><input type="text" name="tackle" value="Tackle" ng-model="catch.tackle"><br>
                      <span>Bait:  </span><input type="text" name="bait" value="Bait" ng-model="catch.bait"><br><br>
                      <input type="file" id="my_file" name="my_file" multiple="multiple" ng-model="catch.image"/><br><br>
                      <input type="submit" class="btn" value="Submit" ng-disabled="$isUploading">
                </form>
                </div>
              </div>
            </div>
          </div>
                      </div>
                    </div>
                     </tab>
              </tabset>
              </div>

          </div> -->
