<div class="mainCont flexWeatherDir recipesStyle">
  <div class="page-wrap">
  <div class="row">
    <div class="col-sm-12 myReset flexWeatherDir flexMap">
      <div class="insideWeather">

    <div class="flexWeatherFish">
      <div class="flexBoxerRecipeDetail">
      <div class="col-sm-5">
        <img class="fishDetailImg" src="{{aCatch.image}}" width= 150><br><br>
        <div class="backButtonGreen" name="goBack" ng-click="goBack()"><h4>Go Back</h4></div>

      </div>
      <div class="col-sm-7 myReset">
        <div class="fourHuns" ng-controller="MapController">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
              <ui-gmap-marker ng-repeat="marker in markers | filter:search:strict" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.idKey" fish="marker.fish" weight= "marker.weight" length = "marker.length">
                <ui-gmap-window isIconVisibleOnClick="true" coords="marker.coords">
                <p><strong>{{marker.fish}}</strong> <br> Weight: {{marker.weight}} <br> Length: {{marker.length}}</p>
                </ui-gmap-window>
              </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
      </div>
      <div class="col-sm-6 myReset">
        <ul class="catchSpecs">
          <li><h5 class="catchTitle">Kind of Fish: </h5> {{aCatch.kind}}</li>
          <li><h5 class="catchTitle">Fish Weight: </h5> {{aCatch.weight}}</li>
          <li><h5 class="catchTitle">Fish Length: </h5> {{aCatch.length}}</li>
        </ul>
    </div>
    <div class="col-sm-6 myReset">
      <li><h5 class="catchTitle">Location Caught: </h5> {{aCatch.location}}</li>
      <li><h5 class="catchTitle">Tackle Used: </h5> {{aCatch.tackle}}</li>
      <li><h5 class="catchTitle">Bait Used: </h5> {{aCatch.bait}}</li>
</div>
    </div>
    </div>
    </div>
  </div>


   </div>
 </div>
 </div>



 <!--******** Good stuff in here **********

 <div class="col-sm-3 myReset flexMap">
    <div class="homeAside">
      <div class="profileCard">
        <img class="profile-picture-small" ng-src="{{user.picture || 'https://scontent-mia1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/284647_2032369281837_592659_n.jpg?oh=c7a28b2bf13274092cbe30d60ca1b560&oe=56133D79'}}">
          <h3>{{user.displayName}}</h3>
          <h4>Fish Caught: {{user.fishCaught}}</h4>
          <h4>Species: {{user.species.length}}</h4>
      </div>
        <div class="weatherDir homeWeather">
          <div>
            <div class="myButton">
              <a href="#/weather"><h3>Weather</h3></a>
            </div>
              <div class="myButton">
                <a href="#/weather/tides"><h3>Tide Charts</h3></a>
             </div>
          </div>
      </div>
  </div>
</div>
-->
