<div class="container mainCont">
      <div class="row">
        <div class="col-sm-3 leftAside">
          <div class="panel panel-default">
                <div class="panel-heading">Side Nav</div>
            <div class="panel-body">
              <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">

          <h2>Username</h2>
          <nav class="sideNav">
            <li><a class="btn btn-primary" href="#/profile/main">Profile</a></li>
            <li><a class="btn btn-primary" href="#/profile/main">Achievements</a></li>
            <li><a class="btn btn-primary" href="#/profile/main">Weather</a></li>
            <li><a class="btn btn-primary" href="#/profile/main">Recipes</a></li>
          </nav>
          <div class="panel panel-default noShadow">
            <div class="panel-body">
              Fish Sightings
            </div>
          </div>
        </div>
      </div>
        </div>
        <div class="col-sm-9 weatherBar">
          <div ng-controller="TabsController">
          <tabset>
            <tab heading="My Catches">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <img ng-src="http://placehold.it/100x100">
                        </div>
                        <div class="col-sm-9">
                          Fish List Template
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <img ng-src="http://placehold.it/100x100">
                        </div>
                        <div class="col-sm-9">
                          Fish List Template
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
               </tab>
            <tab heading="Achievements">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-sm-8">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div ng-controller="ProgressController">

    <h3>Progress</h3>
    <div class="row">
        <div class="col-sm-4 progressBars"><progressbar class="progress-striped active" max="200" value="166"><i>166 / 200</i></progressbar></div>
        <div class="col-sm-4 progressBars"><progressbar class="progress-striped active" max="200" value="166"><i>166 / 200</i></progressbar></div>

    </div>
</div>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
          achievemnts here
        </div>
      </div>
    </div>
    <div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-body">
  achievemnts here
</div>
</div>
</div>
            </div>
                </div>
              </div>
              </tab>
            <tab heading="Recipes">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <img ng-src="http://placehold.it/100x100">
                        </div>
                        <div class="col-sm-9">
                          Recipe List Template
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <img ng-src="http://placehold.it/100x100">
                        </div>
                        <div class="col-sm-9">
                          Recipe List Template
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </tab>
          </tabset>
        </div>

    </div>
  </div>
</div>
