<div class="rainbow">
<div class="redTop2"></div>
<div class="orangeTop2"></div>
<div class="yellowTop2"></div>
<div class="greenTop2"></div>
<div class="lightBlueTop2"></div>
</div>
<div class="mainCont flexWeatherDir profileStyle">
  <div class="page-wrap">
  <div class="row">
    <div class="col-sm-12 myReset flexWeatherDir flexMainWeather">
      <div class="col-sm-12 myReset curCity">
        <h2 class="topPageTitle myCatchBorder">My Catches</h2>
      </div>
      <div class="insideWeather">

        <div class="flexRower">
          <div class="flexBoxer greenBox" ng-repeat= "one in fish">
            <div>
          <a href="#/detail/{{one._id}}"><img class="fishListImg" ng-src="{{one.image || 'http://placehold.it/100x100'}}"></a> <!-- {{one.image || 'http://placehold.it/100x100'}} -->
          <ul class="catchSpecs">
            <li><h5 class="catchTitle">Fish Kind: </h5> {{one.kind}}</li>
            <li><h5 class="catchTitle">Fish Weight: </h5> {{one.weight}}</li>
            <li><h5 class="catchTitle">Fish Length: </h5> {{one.length}}</li>
            <li><h5 class="catchTitle">Location Caught: </h5> {{one.location}}</li>
          </ul>
        </div>
          <div class="profileOptions">
            <span type="button" name="button" ng-click="deleteCatch(one._id, one)"><i class="fa fa-trash-o trash"></i></span>
       </div>
           </div>
           </div>
    </div>
  </div>
  </div>
</div>
</div>




<!-- <div class="col-sm-9 weatherBar">
  <div ng-controller="TabsController">
  <tabset>
    <tab heading="Fish Caught"> ng-click here
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="btn btn-primary" href="#/addCatch">Add Catch</a><br><br>
          <div class="panel panel-default" ng-repeat= "one in fish"> ng-repeat here
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-3">
                  <img width= "100" ng-src="{{one.image || 'http://placehold.it/100x100'}}"><br><br>
                </div>
                <div class="col-sm-9">
                  <ul class="catchSpecs">
                    <li><h5 class="catchTitle">Fish Kind: </h5>{{one.kind}}</li>
                    <li><h5 class="catchTitle">Fish Weight: </h5>{{one.weight}}</li>
                    <li><h5 class="catchTitle">Fish Length: </h5>{{one.length}}</li>
                    <li><h5 class="catchTitle">Location Caught: </h5>{{one.location}}</li>
                    <li><h5 class="catchTitle">Tackle Used: </h5>{{one.tackle}}</li>
                    <li><h5 class="catchTitle">Bait Used: </h5>{{one.bait}}</li>
                    <li><button type="button" name="button" ng-click="deleteCatch(one._id)">Delete</button></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       </tab>
</tabset>
</div>

</div> -->
