<div class="rainbow">
<div class="redTop2"></div>
<div class="orangeTop2"></div>
<div class="yellowTop2"></div>
<div class="greenTop2"></div>
<div class="lightBlueTop2"></div>
</div>
  <div class="mainCont flexWeatherDir profileStyle">
    <div class="page-wrap">
      <div class="row">
        <div class="col-sm-12 myReset flexWeatherDir flexMainWeather">
          <div class="col-sm-12 myReset">
            <h2 class="myProfileTitle">My Profile</h2>
         </div>
           <div class="insideWeather">
             <div class="flexWeatherProfile recipeBox">
               <div class="flexBoxerRecipeDetail">
                 <div class="form-group profilePicBlock">
                   <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
                   <label class="control-label">Profile Picture</label>
                </div>
                  <div class="form-group profilePicBlock">
                    <img class="achievementPicture" ng-src="{{user.achievementPicture || 'http://static.comicvine.com/uploads/original/14/146991/4442938-7067438861-Great.jpg'}}">
                    <label class="control-label">Achievement Level: {{user.achievement || 'Shark'}}</label>
                 </div>
                   <h2>{{user.displayName}}</h2>
                   <h2>{{user.email}}</h2>
                    <div class="btn btn-lg" ng-click="isCollapsed = !isCollapsed">Edit Information</div>
	                    <div collapse="!isCollapsed">
		                    <div class="well well-lg">
                          <form method="post" ng-submit="updateProfile()">
                            <div class="form-group">
                              <label class="control-label"><i class="ion-person"></i> Display Name</label>
                              <input type="text" class="form-control" ng-model="user.displayName" />
                           </div>
                             <div class="form-group">
                               <label class="control-label"><i class="ion-at"></i> Email Address</label>
                               <input type="email" class="form-control" ng-model="user.email" />
                            </div>
                              <button class="btn btn-lg btn-success buttonForm">Update Information</button>
                          </form>
                          <legend><i class="ion-link"></i> Linked Accounts</legend>
                          <div class="btn-group-vertical">
                          <!--   <button class="btn btn-sm btn-danger" ng-if="user.facebook" ng-click="unlink('facebook')">
                            <i class="ion-social-facebook"></i> Unlink Facebook Account
                          </button>
                          <button class="btn btn-sm btn-primary" ng-if="!user.facebook" ng-click="link('facebook')">
                            <i class="ion-social-facebook"></i> Link Facebook Account
                          </button> -->
                            <button class="btn btn-sm btn-danger" ng-if="user.google" ng-click="unlink('google')">
                              <i class="ion-social-googleplus"></i> Unlink Google Account
                            </button>
                            <button class="btn btn-sm btn-primary" ng-if="!user.google" ng-click="link('google')">
                              <i class="ion-social-googleplus"></i> Link Google Account
                            </button>
                          </div>
                        </div>
	                   </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
