<div class="rainbow">
<div class="redTop2"></div>
<div class="orangeTop2"></div>
<div class="yellowTop2"></div>
<div class="greenTop2"></div>
<div class="lightBlueTop2"></div>
</div>
  <div class="mainCont profileStyle">
    <div class="page-wrap">
      <div class="row">
        <div class="col-sm-12 myReset flexMainWeather">
          <div class="col-sm-12 myReset curCity">
            <h2 class="myProfileTitle">My Profile</h2>
         </div>
           <div class="insideWeather">
                 <div class="col-sm-6 myReset">
                   <div class="userDetails">
                     <div class="picWrap">
                  <img class="profile-picture" ng-src="{{user.picture || 'https://scontent-mia1-1.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/557661_4189590051008_1567778097_n.jpg?oh=c9463335a46cce198aa468e50a80e247&oe=56403776'}}">
                </div>
                   <h5><i class="ion-person"></i> Display Name:</h5><h4>{{user.displayName}}</h4>
                   <h5><i class="ion-at"></i> Email Address:</h5><h4>  {{user.email}}</h4>
                   <div class="btn-group-vertical">
                   <!--   <button class="btn btn-sm btn-danger" ng-if="user.facebook" ng-click="unlink('facebook')">
                     <i class="ion-social-facebook"></i> Unlink Facebook Account
                   </button>
                   <button class="btn btn-sm btn-primary" ng-if="!user.facebook" ng-click="link('facebook')">
                     <i class="ion-social-facebook"></i> Link Facebook Account
                   </button> -->
                     <button class="btn btn-sm btn-danger" ng-if="user.google" ng-click="unlink('google')">
                       <i class="ion-social-googleplus"></i> Unlink Google Account
                     </button>
                     <button class="btn btn-sm btn-primary" ng-if="!user.google" ng-click="link('google')">
                       <i class="ion-social-googleplus"></i> Link Google Account
                     </button>
                 </div>
               </div>
               </div>
                <div class="col-sm-6 myReset">
                  <div class="achevDetails">
                    <div class="picWrap">
                    <img class="achievementPicture" ng-src="{{user.achievementPicture || 'http://static.comicvine.com/uploads/original/14/146991/4442938-7067438861-Great.jpg'}}">
                  </div>
                    <h5>Achievement Level:</h5><h4> {{user.achievement || 'Shark'}}</h4>
                    <h5>Fish Caught:</h5><h4> {{user.fishCaught}}</h4>
                    <h5>Species:<h5><h4> {{user.species.length}}</h4>
                </div>
                 </div>
            </div>
          </div>
         </div>
      </div>
   </div>

   
