@import "partials/auth";

body {
  font-family: 'Open Sans', sans-serif;
  background: #1E2023;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

a {
  color: #000;
}

.text-muted {
  color: #90939a;
}

.navbar {
  color: #fff;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.navbar-header {
  float: left;
  padding-left: 15px;
  margin-bottom: 0;
  padding-bottom: 0rem;
  color: #fff;
}

.navbar-nav {
  color: #fff;
  float: right;
  margin: 0;
}

.navbar-nav > li {
  color: #fff;
  float: left;
}

.navbar-nav > li > a {
  color: #fff;
  padding: 15px;
}

.navbar-default {
  color: #fff;
  background-color: white;
}

.mainAnchor {
  color: white;
}

.navbar-default .navbar-brand {
  color: #fff;
  background-color: #16333F;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
  background-color: #fff;
}

.navbar-brand {
  margin-left: -15px;
  transition: 0.25s all;
}

.addCatch{
  margin-bottom: 2%;
}
.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, .2);
}

.panel-default > .panel-heading {
  font-size: 85%;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  background-color: #f6f6f6;
  border-color: #cfd9db;
}

.form-control {
  border-radius: 0;
}

.center-form {
  width: 33%;
  margin: 2.5% auto;
}

.signup-or-separator {
  position: relative;
  height: 34px;
  text-align: center;
  background: none;
}

.signup-or-separator hr {
  width: 90%;
  margin: -16px auto 10px auto;
  border-top: 1px solid #dce0e0;
}

.signup-or-separator .text {
  display: inline-block;
  padding: 8px;
  margin: 0;
  background-color: #fff;
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.password-strength-indicator {
  position: absolute;
  top: 10px;
  right: 0;
  width: 5px;
  padding: 0 15px;
}

.password-strength-indicator span {
  display: block;
  width: 5px;
  height: 5px;
  margin-bottom: 2px;
  background: #ebeef1;
  border-radius: 5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.alert-material {
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  display: inline-block;
  min-height: 48px;
  padding: 13px 24px 12px;
  font-family: 'Roboto', sans-serif;
  color: #f1f1f1;
  cursor: default;
  background: #323232;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.form-group, .buttonForm{
  margin-left: 5%;
  margin-bottom: 2%;
}
.control-label{
  display: inline-block;
}

.profile-picture {
  width: 100%;
}

.profilePicBlock{
  display:inline-block;
  width: 40%;
}

.btn {
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn-primary {
  background-color: #4285f4;
}

.btn-primary:hover {
  background-color: #3367d6;
}

.btn-success {
  background-color: #0f9d58;
}

.btn-success:hover {
  background-color: #196c4a;
}

.btn-danger {
  background-color: #db4437;
}

.btn-danger:hover {
  background-color: #b04c3b;
}

.btn-group-vertical .btn {
  margin-bottom: 10px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-radius: 2px;
}

.btn-group-vertical > .btn:not(:first-child):not(:last-child) {
  border-radius: 2px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-radius: 2px;
}

.btn-lg {
  font-size: 14px;
}

.btn [class^='ion-'] {
  margin-right: 5px;
}

.btn .fa {
  margin-right: 5px;
}

/*********************
* Social Buttons
*********************/

.btn-google-plus {
  color: #fff;
  background-color: #dd4b39;
  border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
  color: #fff;
  background-color: #cb3927;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
  background-color: #294786;
}

.btn-linkedin {
  color: #fff;
  background-color: #007bb6;
  border: 1px solid #0073ae;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  color: #fff;
  background-color: #0069a4;
}

.btn-twitter {
  color: #fff;
  background-color: #00aced;
  border: 1px solid #009fdb;
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
  background-color: #0090c7;
}

.btn-foursquare {
  color: #fff;
  background-color: #f94877;
  border: 1px solid #f8215a;
}

.btn-foursquare:hover,
.btn-foursquare:focus {
  color: #fff;
  background-color: #f71752;
}

.btn-github {
  color: #fff;
  background-color: #444;
  border: 1px solid #3b3b3b;
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
  background-color: #303030;
}

.btn-yahoo {
  color: #fff;
  background-color: #720e9e;
  border: 1px solid #580b75;
}

.btn-yahoo:hover,
.btn-yahoo:focus {
  color: #fff;
  background-color: #303030;
}

.btn-live {
  color: #fff;
  background-color: #2672ec;
}

.btn-live:hover,
.btn-live:focus {
  color: #fff;
  background-color: #125acd;
}

/*********************
* Login
*********************/



/*********************
* FlexBox
*********************/

.page-wrap {
  width: 80%;
  margin: 1rem auto;
  padding: 2rem;
  box-sizing: border-box;
  transition: 0.4s;
}

.flexBoxer {
  width: 32%;
  float: right;
  background-color: white;
  height: 40rem;
  padding: 2rem;
  box-sizing: border-box;
  transition: 0.4s;
  margin: 5px;
}

.flexBoxerLarge {
  width: 100%;
  float: right;
  background-color: white;
  height: 29rem;
  padding: 1rem;
  box-sizing: border-box;
  transition: 0.4s;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.flexBoxerRecipeDetail {
  width: 100%;
  float: right;
  background-color: white;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  transition: 0.4s;
  margin-left: auto;
  margin-right: auto;
}

.flexProfile {
  width: 100%;
  height: 53rem;
  float: right;
  background: lightgreen;
  box-sizing: border-box;
  transition: 0.4s;
  padding: 1rem;
}

.flexProfileSmall {
  padding: 1rem;
  margin: 0;
  height: 100%;
  float: right;
  background: lightgreen;
  box-sizing: border-box;
  transition: 0.4s;
}

.flexCatch {
  width: 100%;
  height: 600px;
  float: right;
  background: lightgreen;
  box-sizing: border-box;
  transition: 0.4s;
  padding: 1rem;
}

.profile-picture-small {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flexBigBoxer {
  width: 100%;
  float: right;
  background: lightgreen;
  box-sizing: border-box;
  transition: 0.4s;
}

.main-content {
  overflow: hidden;
  clear: both;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.4s;
}

/*********************
* Add Catch Style
*********************/

.addCatchStyle {
  .recipeListImg {
    width: 100%;
    max-height: 19rem;
    margin-left: auto;
    margin-right: auto;
  }
  .addCatchForm {
    height: 36rem;
    width: 80%;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
  .fishSubmit {
    margin: 2rem;
    background-color: #0057A2;
    color: white;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  .fishSubmit:hover {
    background-color: #00ABD8;
    transition: .2s ease-in;
  }

  .recipeOptions {
    height: 5rem;
    border-top: 2px solid #EAEAEA;
  }
  h2 {
    padding: 1rem;
    text-align: center;
    background-color: #559E55;
    color: white;
  }
  input {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .inputTitle {
    font-size: 2.3rem;
    font-weight: bold;
  }
  li {
    width: 100%;
    list-style: none;
  }
  .plus {
    float: right;
    font-size: 2.8rem;
    margin: 1rem;
  }
  .plus:hover {
    font-size: 3rem;
    transition: .2s ease-in;
  }
  .suggested {
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    color: white;
    border-bottom: 2px solid #DF1231;
  }
  .detailFish {
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }
  .trash {
    float: right;
    font-size: 2.8rem;
    margin: 1rem;
  }
  .trash:hover {
    font-size: 3rem;
    transition: .2s ease-in;
  }

}

.city {
  text-align: center;
  font-size: 4rem;
  margin-top: 6rem;
  color: white;
}
/*********************
* Weather Style
*********************/

.weatherView {

  .icon {
    width: 10rem;
    height: 10rem;
    position: relative;
    left: 41%;
  }
}

.degrees {
  font-size: 2rem;
  vertical-align: top;
}

.tempNow {
  margin-top: 5rem;
  text-align: center;
  color: white;
}

.weatherDescription {
  text-align: center;
  margin-top: 3rem;
  color: white;
}

.tenDayDir {
  h3 {
    margin-left: 2.8rem;
  }
  .tenIcon {
    margin-left: 2.8rem;
  }
  .tempDay {
    margin-left: 3rem;
    font-size: 3rem;
  }
  .degreesTen {
    vertical-align: top;
    font-size: 1.3rem;
  }
}

.orangeWeather {
  display: flex;
  padding-left: 2rem;
  h4 {
    color: white;
    font-size: 3rem;
  }
  .value {
    margin-top: 3rem;
  }
}

.tint {
  color: white;
  font-size: 3rem;
  margin-left: 3.5rem;
  margin-top: 4.3rem;
  margin-right: 1rem;
}

.smalltint {
  color: #B1D2FB;
  font-size: 2rem;
}

.humidity {
  width: 2rem;
  height: 2rem;
  margin-top: 4.8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.humiditySmall {
  width: 2rem;
  height: 2rem;
}

.feelsLike {
  margin-top: .5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.smallIcon {
  margin-left: 2rem;
  margin-top: .5rem;
}

.moonStuff {
  color: white;
  margin-top: 1.8rem;
  margin-left: 7rem;
  .move {
    margin-left: 2rem;
  }
}

.moonStuffTitle {
font-weight: bold;
}

/*********************
* Profile Style
*********************/

.profileStyle {
  .fishListImg {
    width: 100%;
    max-height: 19rem;
    margin-left: auto;
    margin-right: auto;
  }
  .profileOptions {
    height: 5rem;
    border-top: 2px solid #EAEAEA;
  }
  .trash {
    float: right;
    font-size: 2.8rem;
    margin: 1rem;
  }
  .trash:hover {
    font-size: 3rem;
    transition: .2s ease-in;
  }
}

.iconBox {
  height: 6rem;
  width: 6.1rem;
  background-color: maroon;
  margin: .5rem;
}

.sun {
  font-size: 5rem;
  padding-right: 2rem;
}

/*********************
* Recipes Style
*********************/

.recipesStyle {
  .recipeListImg {
    width: 100%;
    max-height: 19rem;
    margin-left: auto;
    margin-right: auto;
  }
  .recipeOptions {
    height: 5rem;
    border-top: 2px solid #EAEAEA;
  }
  .trash {
    float: right;
    font-size: 2.8rem;
    margin: 1rem;
  }
  .trash:hover {
    font-size: 3rem;
    transition: .2s ease-in;
  }
  .foodToFork {
    margin: .2rem;
  }
}


/*********************
* FlexBox Weather
*********************/

.myReset {
  margin: 0;
  padding: 0;
}

.bump {
  padding-top: 1rem;
}

.homeAside {
  height: 100%;
  min-height: 60rem;
  background-color: #e3e3e3;
  padding: 1rem;
  margin: 0;
}


.homeReset {
  padding-top: 1rem;
  margin: 0;
  padding: 0;
}

.flexWeather {
  width: 100%;
  height: 35rem;
  float: right;
  background-color: #00ABD8;
  box-sizing: border-box;
  transition: 0.4s;
  opacity: .6;
}



.weatherBackgrounder {
  background-image: url('http://img.inspiringwallpapers.net/wp-content/uploads/2014/06/atlantic-ocean-sunrise.jpg');
  background-size: cover;
  opacity: .7;
}

.flexWeatherMoon {
  width: 100%;
  height: 13rem;
  float: right;
  background-color: black;
  box-sizing: border-box;
  transition: 0.4s;
}

.flexSideWeather {
  width: 100%;
  height: 22rem;
  float: right;
  color: white;
  background-color: black;
  box-sizing: border-box;
  transition: 0.4s;
  opacity: .7;
}

.flexSideWeatherSmall {
  width: 100%;
  height: 13rem;
  float: right;
  background-color: #F07E40;
  box-sizing: border-box;
  transition: 0.4s;
  opacity: .7;
  padding-top: 1rem;
}

.insideWeather {
  height: 60rem;
}


.flexWeatherOne {
  width: 14.28%;
  height: 19rem;
  float: right;
  background-color: white;
  box-sizing: border-box;
  transition: 0.4s;
  border-right: 2px solid #EAEAEA;
  padding: 1rem;
}

.flexWeatherTest {
  width: 14.28%;
  height: 19rem;
  float: left;
  background-color: white;
  box-sizing: border-box;
  transition: 0.4s;
  border-right: 2px solid #EAEAEA;
  padding: 1rem;
}

.tenDayWrap {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.tenInside {
  width: 100%;
}

.myButton {
  padding: 0;
  h4 {
    border: 1px solid white;
    text-decoration: none;
    padding: .5rem;
    margin: 1rem;
    color: black;
  }
  a {
    text-decoration: none;
  }
}

.myButton:hover {
  h4 {
    transition: 0.3s ease-in;
    text-decoration: none;
    color: white;
  }
  a {
    text-decoration: none;
  }
}

.fishLogo {
  position: absolute;
  top: -2.5rem;
  left: .5rem;
  height: 11rem;
  width: 20rem;
  margin: 0;
  padding: 0;
}

.mainSmall {
  display: flex;
}

.heading {
  border-radius: 0px;
}

.sunrise {
  font-size: 4rem;
  color: yellow;
  text-align: center;
  margin: 1rem;
  margin-left: 3rem;
}

.sunset {
  font-size: 4rem;
  color: yellow;
  text-align: center;
  margin: 1rem;
  margin-left: 3rem;
}

/*********************
* Home
*********************/

.trophyIcon {
  color: #FFB55F;
}

.cutleryIcon {
  color: #DC1230;
}

.userIcon {
  color: #559E55;
}


.cloudIcon {
  color: #0055A8;
}

.currentTemp {
  width: 100%;
  h1 {
    margin-left: 2rem;
    font-size: 5rem;
  }
}


.flexWeatherDir {
  color: black;
  .tides {
    padding: 3rem;
  }
}

.rainbow {
  width: 100%;
  margin-top: -2rem;
  padding: 0;
  display: flex;
}

.redTop {
  width: 20%;
  background-color: #DA1A2E;
  height: 2rem;
}

.redTop2 {
  width: 20%;
  background-color: #DA1A2E;
  height: 1rem;
}

.orangeTop {
  width: 20%;
  background-color: #FF8645;
  height: 2rem;
}

.orangeTop2 {
  width: 20%;
  background-color: #FF8645;
  height: 1rem;
}

.yellowTop {
  width: 20%;
  background-color: #FFB74D;
  height: 2rem;
}

.yellowTop2 {
  width: 20%;
  background-color: #FFB74D;
  height: 1rem;
}

.greenTop {
  width: 20%;
  background-color: #5B9F49;
  height: 2rem;
}

.greenTop2 {
  width: 20%;
  background-color: #5B9F49;
  height: 1rem;
}

.lightBlueTop {
  width: 20%;
  background-color: #15AADC;
  height: 2rem;
}

.lightBlueTop2 {
  width: 20%;
  background-color: #15AADC;
  height: 1rem;
}

.profileCard {
  padding: .5rem;
  margin-bottom: 1rem;
}

.fishy {
  height: 3rem;
  width: 3rem;
}

.homeWeather {
  margin-top: 1rem;
  border: 1px solid white;
}

.flexWeatherTides {
  width: 100%;
  height: 53rem;
  float: right;
  background: grey;
  box-sizing: border-box;
  transition: 0.4s;
  .tides {
    h4{
      text-align: center;
    }
   }
  }

.flexMap {
  padding: 0rem;
  margin: 0;
  height: 100%;
  float: right;
  box-sizing: border-box;
  transition: 0.4s;
  background-color: #1E2023;
  }

    .flexMainWeather {
      padding: 1rem;
      margin: 0;
      height: 100%;
      float: right;
      box-sizing: border-box;
      transition: 0.4s;
      background-color: #1E2023;
      }

.angular-google-map-container {
    height: 60rem;
}

.burger {
  display: none;
}

.overflowin {
  width: 100%;
  height: 19.8rem;
  overflow-x: scroll;
}

@media (max-width: 945px) {

  .page-wrap {
    box-sizing: border-box;
    margin: 2rem auto;
    padding: .5rem;
    width: 98%;
  }

  .flexMap {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 0.4s;
  }

}
@media (max-width: 820px) {

  .flexBoxer {
    box-sizing: border-box;
    margin: 5px;
    padding: 2rem;
    width: 48%;
  }

  .flexMap {
    position: relative;
    width: 100%;
    height: 50rem;
    box-sizing: border-box;
    transition: 0.4s;
  }

  .burger {
    font-size: 3rem;
    float: right;
    margin-right: 2rem;
    display: inline;
    color: black;
  }

  .nav {
    display: none;
  }

}
@media (max-width: 500px) {

  .page-wrap {
    margin: 3rem auto;
    box-sizing: border-box;
  }

  .flexBoxer {
    box-sizing: border-box;
    margin: 5px;
    padding: 2rem;
    width: 100%;
    height: 100%;
  }


  .flexMap {
    position: relative;
    width: 100%;
    height: 40rem;
    box-sizing: border-box;
  }

.burger {
  font-size: 3rem;
  float: right;
  margin-right: 2rem;
  display: inline;
  color: black;
}

}



/*********************
* Home
*********************/

.mainCont {
  width: 100%;
  margin-top: -2rem;
  padding-top: 0rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.leftAside {
  padding-top: 2rem;
  padding-right: .5rem;
  h3 {
    color: white;
  }
  h5 {
    color: #F47F20;
  }
}

.weatherBar {
  padding-top: 2rem;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 0rem;
}

.fidy {
  width: 50%;
  border-radius: 0px;
  background-color: #777777;
  text-align: center;
}

.tab {
  border-radius: 0px;
}

.tabset {
  border-radius: 0px;
}

/*********************
* recentCatches
*********************/

.recentCatches {
  padding-top: 2rem;
  padding-left: .5rem;
  .fishHome {
    margin-top: 1rem;
    color: white;
    opacity: 1;
  }
  .fishPicBox {
  }
  .fishPic {
    width: 100%;
    margin: 0rem;
    padding: 0rem;
  }
}


.sideNav {
  width: 100%;
  li {
    list-style: none;
    margin: 1rem;
  }
}

.progressBars {
  width: 100%;
}

.noShadow {
  box-shadow: none;
}

.forecastBox {
  background-color: black;
}

.clearTop {
  float: left;
  clear: both;
}

.clearChart {
  float: right;
}

.forecast {
  padding-top: 0;
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: 0;
  h4 {
    text-align: center;
  }
  .high{
    color: maroon;
    font-size: 2.5rem;
  }
  .low {
    color: maroon;
    font-size: 1.5rem;
  }
}

.weatherDir {
  color: black;
  h2 {
    color: #F47F20;
    text-align: center;
    margin: .1rem;
    margin-top: .4rem;
    font-size: 3rem;
    padding: 0rem 1rem;
  }
  h5 {
    text-align: center;
    color: #639BB4;
  }
  .testingBox {
    color: black;
  }
  .degreesF {
    font-size: 2rem;
    vertical-align: top;
    margin-left: .1rem;
    font-weight: normal;
  }
  .degreesTiny {
    font-size: .2rem;
    vertical-align: top;
  }
  .value {
    color: black;
    font-size: 1.5rem;
  }
}

.leftFix {
  padding-top: 0;
  padding-left: 1rem;
  padding-right: .5rem;
  padding-bottom: 0;
}

.rightFix {
  padding-top: 0;
  padding-left: .5rem;
  padding-right: 1rem;
  padding-bottom: 0;
}

.hourBoxLabel {
  background-color: black;
  margin-top: 0;
  padding: 1rem;
  color: white;
  text-align: center;
}

.hourBox {
  color: white;
  border: 1px solid black;
  .dets{
    text-align: center;
  }
  .temp {
    font-size: 3rem;
  }
  .low {
    font-size: 1rem;
  }
}


.wind {
  height: 2rem;
  width: 2rem;
}


.sunRise {
  height: 5rem;
  width: 5rem;
  margin-left: 2.5rem;
  margin-bottom: 0;
  margin-top: 3rem;
}

.weatherPH {
  color: black;
  margin: 1rem;
  font-size: 1.7rem;
}

.weatherFlow {
  height: 54rem;
}

.sunRiseTitle {
  color: white;
  margin-top: 0;
}

.darrow {
  height: 4rem;
  width: 10rem;
  position: absolute;
  left: 35%;
  transform: scaleX(-1);
}

.whitePanel {
margin: 0;
padding: 0;
}

.tabBox {
  max-height: 40rem;
  overflow: scroll;
}

.blackPanel {
  padding: .7rem;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
  border: none;
  h4 {
    text-align: center;
    margin: .5rem;
    color: #F47B36;
    opacity: 1;
  }
  p {
    margin: .5rem;
    color: grey;
    opacity: 1;
  }
  .panel-heading {
    background-color: black;
  }
  .location {
    color: white;
  }
  .inside {
    padding: 0;
    margin: 0;
  }
}

/*********************
* Footer
*********************/

footer {
  width: 100%;
  height: 7rem;
  background-color: white;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.footerNav {
  position: absolute;
  text-align: center;
  left: 30%;
  li {
    margin-left: 3rem;
  }
}

/*********************
* Moon Phases
*********************/

.moon1 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon1.png");
  background-size: cover;
}

.moon2 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon2.png");
  background-size: cover;
}

.moon3 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon3.png");
  background-size: cover;
}

.moon4 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon4.png");
  background-size: cover;
}

.moon5 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon5.png");
  background-size: cover;
}

.moon6 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon6.png");
  background-size: cover;
}

.moon7 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon7.png");
  background-size: cover;
}

.moon8 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon8.png");
  background-size: cover;
}

.moon9 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon9.png");
  background-size: cover;
}

.moon10 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon10.png");
  background-size: cover;
}

.moon11 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon11.png");
  background-size: cover;
}

.moon12 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon12.png");
  background-size: cover;
}

.moon13 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon13.png");
  background-size: cover;
}

.moon14 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon14.png");
  background-size: cover;
}

.moon15 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon15.png");
  background-size: cover;
}

.moon16 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon16.png");
  background-size: cover;
}

.moon17 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon17.png");
  background-size: cover;
}

.moon18 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon18.png");
  background-size: cover;
}

.moon19 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon19.png");
  background-size: cover;
}

.moon20 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon20.png");
  background-size: cover;
}

.moon21 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon21.png");
  background-size: cover;
}

.moon22 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon22.png");
  background-size: cover;
}

.moon23 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon23.png");
  background-size: cover;
}

.moon24 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon24.png");
  background-size: cover;
}

.moon25 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon25.png");
  background-size: cover;
}

.moon26 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon26.png");
  background-size: cover;
}

.moon27 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon27.png");
  background-size: cover;
}

.moon28 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon28.png");
  background-size: cover;
}

.moon29 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon29.png");
  background-size: cover;
}

.moon30 {
  width: 6rem;
  height: 6rem;
  background-image: url("/assets/moon30.png");
  background-size: cover;
}

/*********************
* Maps
*********************/


/*********************
* Animations
*********************/

.fadeZoom.ng-enter {
  animation-duration: 0.2, 0.2s;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-enter {
  animation-duration: 0.2s, 0.2s;
  animation-name: fadeIn, zoomIn;
}

.fadeZoomFadeDown.ng-leave {
  animation: fadeOutDown 0.2s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 0.8);
  }

  50% {
    opacity: 1;
  }
}

/* #373737 #8DB986 #ACCE91 #BADB73 #EFEAE4*/

/* catchAdded */

.catchSpecs{
  list-style: none;
  padding-left: 0;
}

.catchTitle{
  display: inline-block;
}

.page-bg {
		position: absolute;
		top: -20px;
		left: -20px;
		right: -20px;
		bottom: -20px;
		background: url('http://bouldermapgallery.com/catalog/images/fishing.jpg') center;
		-webkit-filter: blur(0px);
		z-index: 10;
	}

	.preloader {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: -webkit-radial-gradient(rgba(0,0,0,0) 50%,rgba(0,0,0,0.8));
		z-index: 10;
	}

	.preloader > .preloader-box {
		position: absolute;
		width: 345px;
		height: 30px;
		top: 50%;
		left: 50%;
		margin: -15px 0 0 -150px;
		-webkit-perspective: 200px;
	}

	.preloader .preloader-box > div {
		position: relative;
		width: 30px;
		height: 30px;
		background: #CCC;
		float: left;
		text-align: center;
		line-height: 30px;
		font-family: Verdana;
		font-size: 20px;
		color: #FFF;
	}

	.preloader .preloader-box > div:nth-child(1) {
		background: #3366FF;
		margin-right: 15px;
		-webkit-animation: movement 600ms ease 0ms infinite alternate;
	}
	.preloader .preloader-box > div:nth-child(2) {
		background: #3366FF;
		margin-right: 15px;
		-webkit-animation: movement 600ms ease 75ms infinite alternate;
	}
	.preloader .preloader-box > div:nth-child(3) {
		background: #3366FF;
		margin-right: 15px;
		-webkit-animation: movement 600ms ease 150ms infinite alternate;
	}

	.preloader .preloader-box > div:nth-child(4) {
		background: #3366FF;
		margin-right: 15px;
		-webkit-animation: movement 600ms ease 225ms infinite alternate;
	}

	.preloader .preloader-box > div:nth-child(5) {
		background: #3366FF;
		margin-right: 15px;
		-webkit-animation: movement 600ms ease 300ms infinite alternate;
	}

	.preloader .preloader-box > div:nth-child(6) {
		background: #3366FF;
		margin-right: 15px;
		-webkit-animation: movement 600ms ease 375ms infinite alternate;
	}

	.preloader .preloader-box > div:nth-child(7) {
		background: #3366FF;
		margin-right: 15px;
		-webkit-animation: movement 600ms ease 450ms infinite alternate;
	}

	.preloader .preloader-box > div:nth-child(8) {
		background: #3366FF;
		-webkit-animation: movement 600ms ease 525ms infinite alternate;
	}

	@-webkit-keyframes movement {
		from {
			-webkit-transform: scale(1.0) translateY(0px) rotateX(0deg);
			box-shadow: 0 0 0 rgba(0,0,0,0);
		}
		to {
			-webkit-transform: scale(1.5) translateY(-25px) rotateX(45deg);
			box-shadow: 0 25px 40px rgba(0,0,0,0.4);
			background: #3399FF;
		}
	}

  .hide{
    display: none;
  }

  .show{
    display:block;
  }
