<div class="page-wrap">
  <div class="mainCont">
    <div class="row">
      <div class="col-sm-3 leftAside">
         <div class="flexProfile">
           <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
             <h2>{{user.displayName}}</h2>
               <nav class="sideNav">
                 <li><a class="btn btn-primary" href="#/weather">Weather</a></li>
                 <li><a class="btn btn-primary" href="#/weather/tenday">Ten Day</a></li>
              </nav>
           </div>
        </div>
          <div class="col-sm-9 weatherBar flexWeatherDir">
            <div class="col-sm-8 myReset">
              <div class="flexWeather">
                <weather-directive w="currentConditions" data-id="{{w.id}}"></weather-directive>
              </div>
            </div>
              <div class="col-sm-4 myReset">
                <div class="flexSideWeather">
                  <h2>{{weather.fahrenheit}}<span class="degrees"> o</span><span class="degreesF">F</span></h2>
              </div>
                <div class="flexSideWeatherSmall">Small</div>
             </div>
                <div>
                  <tenday-directive ng-repeat="oneTenDayForecast in tenDayForecast" t="oneTenDayForecast" data-id="{{t.id}}"></tenday-directive>
                </div>
            </div>
        </div>
    </div>
</div>
