<div>
<div class="col-sm-2 myReset redTop"></div>
<div class="col-sm-2 myReset orangeTop"></div>
<div class="col-sm-2 myReset yellowTop"></div>
<div class="col-sm-2 myReset greenTop"></div>
<div class="col-sm-2 myReset lightBlueTop"></div>
<div class="col-sm-2 myReset darkBlueTop"></div>
</div>
  <div class="mainCont">
    <div class="row">
      <div class="col-sm-9 myReset flexWeatherDir flexMap">
        <div class="insideWeather">
          <div class="col-sm-8 myReset">
            <div class="flexWeather weatherView">
              <div data-id="{{currentConditions.id}}">
                 <div class="col-sm-12">
                   <img class="icon" ng-src="http://icons.wxug.com/i/c/i/{{currentConditions.icon}}.gif" alt="" />
                   </div>


            <!--    <div class="weatherPH">
              <img class="wind" ng-src="http://images.clipartpanda.com/wind-clip-art-Kine4KjrT.png" alt="" /><span class="value"> {{currentConditions.windDirection}} {{currentConditions.wind}} mph</span>
            </div> -->
                   <!-- <div class="col-sm-6">
                     <img class="sunRise" ng-src="https://cdn4.iconfinder.com/data/icons/iconsland-weather/PNG/256x256/Sunrise.png" alt="" /><br>
                       <h5 class="sunRiseTitle">{{astronomy.sunRiseHour}}:{{astronomy.sunRiseMin}} am Sunrise</h5>
                                    </div>
                   <div class="col-sm-6">
                     <img class="sunRise" ng-src="https://cdn4.iconfinder.com/data/icons/iconsland-weather/PNG/256x256/Sunrise.png" alt="" /><br>
                       <h5 class="sunRiseTitle">{{astronomy.sunSetHour}}:{{astronomy.sunSetMin}} pm Sunset</h5>
                                    </div> -->
                                    <div data-id="{{tenDayForecast.id}}">
                          <h5><span class="tempDay">{{tenDayForecast.high}}</span><span class="degreesTen"> o</span></h5>
                        </div>

             <h2 class="city">{{currentConditions.city}}</h2>

             </div>
            </div>
          </div>
            <div class="col-sm-4 myReset">
              <div class="flexSideWeather">
                <div class="currentTemp">
                  <h1 class="tempNow">{{currentConditions.fahrenheit}}<span class="degrees"> o</span><span class="degreesF">F</span></h1>
                  <div class="feelsLike">Feels Like {{currentConditions.feelsLike}}<span class="degreesTiny"> o</span><span>F</span></div>
               </div>
            </div>
              <div class="flexSideWeatherSmall orangeWeather">
                   <i class="fa fa-tint tint"></i><span class="value"> <h4>{{currentConditions.rain}}%|</h4></span>
                   <img class="humidity" src="http://www.clker.com/cliparts/n/Y/q/C/t/0/heat-symbol-hi.png" alt="" />
                    <span class="value"><h4>{{currentConditions.humidity}}</h4></span>
              </div>
            </div>
              <div>
                <tenday-directive ng-repeat="oneTenDayForecast in tenDayForecast" t="oneTenDayForecast" data-id="{{t.id}}"></tenday-directive>
             </div>
           </div>
         </div>
           <div class="col-sm-3 myReset flexMap">
              <div class="homeAside">
                <div class="profileCard">
                  <img class="profile-picture-small" ng-src="{{user.picture || 'https://scontent-mia1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/284647_2032369281837_592659_n.jpg?oh=c7a28b2bf13274092cbe30d60ca1b560&oe=56133D79'}}">
                    <h3>{{user.displayName}}</h3>
                    <h4>Fish Caught: 46</h4>
                    <h4>Species: 10</h4>
                </div>
                  <div class="weatherDir homeWeather">
                    <div>
                      <div class="myButton">
                        <a href="#/weather"><h3>Weather</h3></a>
                      </div>
                        <div class="myButton">
                          <a href="#/weather/tides"><h3>Tide Charts</h3></a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- *********** Need This Still ************** -->


<!-- <div class="container mainCont">
  <div class="row">
        <div class="col-sm-9 weatherBar weatherDir">
          <div ng-controller="TabsController">
            <tabset>
              <tab heading="Weather">
                <div class="panel panel-default blackPanel tabBox">
                    <div class="panel-body">
                      <div class="col-sm-5 weatherBar">
                        <alerts-directive a="alerts" data-id="{{a.id}}"></alerts-directive>


                          <div class="row">
                            <img class="darrow" src="http://cliparts.co/cliparts/8cx/KjE/8cxKjEdji.png" alt="" />
                              <div class="col-sm-6">
                                <img class="sunRise" ng-src="https://cdn4.iconfinder.com/data/icons/iconsland-weather/PNG/256x256/Sunrise.png" alt="" /><br>
                                  <h5 class="sunRiseTitle">{{astronomy.sunRiseHour}}:{{astronomy.sunRiseMin}} am Sunrise</h5>
                            </div>
                              <div class="col-sm-6">
                                <img class="sunRise" ng-src="https://cdn4.iconfinder.com/data/icons/iconsland-weather/PNG/256x256/Sunrise.png" alt="" /><br>
                                  <h5 class="sunRiseTitle">{{astronomy.sunSetHour}}:{{astronomy.sunSetMin}} pm Sunset</h5>
                            </div>
                          </div>


                            <div class="row">
                              <div class="col-sm-4">
                                <div class="moon{{astronomy.ageOfMoon}}"></div>
                            </div>
                              <div class="col-sm-8">
                                {{astronomy.phaseofMoon}}
                            </div>
                          </div>
                        </div>

                      <div class="col-sm-7 weatherBar">

                    </div>
                  </div>
                </div>
              </tab>
                <tab heading="Hourly">
                  <div class="panel panel-default blackPanel tabBox">
                    <div class="panel panel-default blackPanel inside">
                    <div class="panel-body">
                      <div class="row hourBoxLabel">
                        <div class="col-sm-1">Time</div>
                          <div class="col-sm-2">Cond</div>
                            <div class="col-sm-2">Temp</div>
                          <div class="col-sm-2">Description</div>
                        <div class="col-sm-2">Precip</div>
                      <div class="col-sm-1">Humidity</div>
                    <div class="col-sm-2">Wind</div>
                  </div>
                    <hourly-directive ng-repeat="oneHourly in hourly" h="oneHourly" data-id="{{h.id}}"></hourly-directive>
                </div>
              </div>
              </div>
            </tab>
              <tab heading="10 Hour">
                <div class="panel panel-default blackPanel tabBox">
                  <div class="panel panel-default blackPanel inside">
                  <div class="panel-body">
                    <div class="row hourBoxLabel">
                      <div class="col-sm-1">Date</div>
                        <div class="col-sm-2">Cond</div>
                          <div class="col-sm-2">Temp</div>
                        <div class="col-sm-2">Description</div>
                      <div class="col-sm-2">Precip</div>
                    <div class="col-sm-1">Humidity</div>
                  <div class="col-sm-2">Wind</div>
                </div>
                <tenday-directive ng-repeat="oneTenDayForecast in tenDayForecast" t="oneTenDayForecast" data-id="{{t.id}}"></tenday-directive>
                  </div>
                </div>
              </div>
              </tab>
            </tabset>
          </div>
        </div>
    </div>
</div>
 -->
