<!-- <div class="row hourBox" data-id="{{t.id}}">
<div class="col-sm-1 dets">
  <h5>{{t.month}} {{t.day}}</h5>
  </div>
  <div class="col-sm-2 dets">
    <img ng-src="{{t.iconUrl}}" alt="" />
  </div>
  <div class="col-sm-2 dets">
  <h5><span class="tempDay">{{t.high}}</span><span class="degreesDay"> o</span><span class="degreesDayF">F</span> <span class="tempLow">{{t.low}}</span><span class="degreesLow"> o</span><span class="degreesLowF">F</span></h5>
</div>
<div class="col-sm-2 dets">
  <h5>{{t.conditions}}</h5>
</div>
<div class="col-sm-2 dets">
  <h5><i class="fa fa-tint tint"></i>{{t.pop}}%</h5>
</div>
<div class="col-sm-1 dets">
  <h5>{{t.aveHum}}%</h5>
</div>
<div class="col-sm-2 dets">
<h5>{{t.aveWindDir}} {{t.aveWind}} mph</h5>
</div>
</div> -->


<div class="flexWeatherOne tenDayDir">
  <h3>{{t.short}}</h3>
  <img class="tenIcon" ng-src="http://icons.wxug.com/i/c/i/{{t.icon}}.gif" alt="" />
  <h5><span class="tempDay">{{t.high}}</span><span class="degreesTen"> o</span></h5>
</div>
