<div class="rainbow">
<div class="redTop2"></div>
<div class="orangeTop2"></div>
<div class="yellowTop2"></div>
<div class="greenTop2"></div>
<div class="lightBlueTop2"></div>
</div>
  <div class="mainCont flexWeatherDir">
    <div class="page-wrap">
    <div class="row">
      <div class="col-sm-12 myReset flexWeatherDir flexMap">
        <div class="insideWeather">
          <div class="flexWeatherTides">
            <div class="tides">
              <h4>High And Low Tide(ft)</h4>
              <canvas id="line" class="chart chart-line" data="data" labels="labels" series="series"></canvas>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
