<div data-id="{{w.id}}">
  <div class="row">
    <div class="col-sm-6">
        <h4>{{w.city}}</h4>
        <h1>{{w.fahrenheit}}<span class="degrees"> o</span><span class="degreesF">F</span></h1>
        <div class="feelsLike">Feels Like {{w.feelsLike}}<span class="degreesTiny"> o</span><span>F</span></div>
        <h3>{{w.description}}</h3>
        visability:{{w.visability}}<br>
    </div>
  <div class="col-sm-6">
    <img class="icon" ng-src="{{w.iconUrl}} " alt="" /> <br>
    <h5>Humidity</h5>
    {{w.humidity}}
    <h5>Wind</h5>
    {{w.windDirection}} {{w.wind}} mph
</div>
</div>
</div>
