<div data-id="{{w.id}}">
  <div class="row">
    <div class="col-sm-6">
        <h4>{{w.city}}, {{w.state}}</h4>
        <h1>{{w.fahrenheit}}<span class="degrees"> o</span><span class="degreesF">F</span></h1>
        <div class="feelsLike">Feels Like {{w.feelsLike}}<span class="degreesTiny"> o</span><span>F</span></div>
    </div>
  <div class="col-sm-6">
    <img class="icon" ng-src="{{w.iconUrl}} " alt="" />
    <div class="weatherPH">
    <i class="fa fa-tint tint"></i> {{w.rain}}%  |
    <img class="humidity" src="http://www.clker.com/cliparts/n/Y/q/C/t/0/heat-symbol-hi.png" alt="" />
    {{w.humidity}}
  </div>
  <div class="weatherPH">
    <img class="wind" ng-src="http://images.clipartpanda.com/wind-clip-art-Kine4KjrT.png" alt="" /> {{w.windDirection}} {{w.wind}} mph
  </div>
</div>
</div>
</div>
